@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

#root{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer base {
  .font-outline {
    text-shadow: 
      0.5px 0.5px 0 black, 
      -0.5px 0.5px 0 black, 
      0.5px -0.5px 0 black, 
      -0.5px -0.5px 0 black;
  }
}

.sidebar {
  transition: transform 0.3s ease-in-out; /* Adjust duration as needed */
  transform: translateX(-100%); /* Initially hidden */
}

.sidebar.open {
  transform: translateX(0); /* Shown when open class is present */
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#FB8C00 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
